.navigation {
    width: 100%;
    height: 100px;
    max-width: 1500px;
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navigation-connect-section {
    display: flex;
}

.navigation-avatar {
    background-color: #383186;
    border-radius: 100%;
    margin-left: 1rem;
    width: 38px;
    height: 38px;
}